@model InmobiliariaViewModels.Clientes.ClienteInsertViewModels
@{
    ViewBag.Title = "Edit";
}

<div class="row">
    <div class="col s12 m12 l12">
        <h4 class="text-center blue-text text-darken-1">Editar Cliente</h4>
        @using (Html.BeginForm("Edit", "Cliente", FormMethod.Post))
        {
            <div class="input-field col s12 m4 l5">
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" id="nombre" class="validate" value="@Model.nombre" />
            </div>

            <div class="input-field col s12 m4 l5">
                <label for="apellido">Apellido</label>
                <input type="text" name="apellido" id="apellido" class="validate" value="@Model.apellido" />
            </div>

            <div class="input-field col s12 m4 l5">
                <label for="dpi">Dpi</label>
                <input type="text" name="dpi" id="dpi" class="validate" value="@Model.dpi" />
            </div>

            <div class="input-field col s12 m4 l5">
                <label for="telefono">Telefono</label>
                <input type="text" name="telefono" id="telefono" class="validate" value="@Model.telefono" />
            </div>

            <div class="input-field col s12 m4 l5">
                <label for="fecha">Fecha</label>
                <input type="text" name="fecha" id="fecha" class="datepicker" value="@Model.fecha.ToString("dd/MM/yyyy")" />
            </div>

            <div class="input-field col s12 m4 l5">
                <select class="form-control" name="sexo">
                    @if (Model.sexo == "M")
                    {
                        <option value="M" selected>Masculino</option>
                        <option value="F">Femenino</option>
                    }
                    else
                    {
                        <option value="M">Masculino</option>
                        <option value="F" selected>Femenino</option>
                    }
                </select>
                <label for="sexo">Sexo</label>
            </div>

            <div class="input-field col s12 m4 l5">
                <label for="direccion">Direccion</label>
                <input type="text" name="direccion" id="direccion" class="validate" value="@Model.direccion" />
            </div>

            <div class="input-field col s12 m4 l5">
                <label for="estado">Estado</label>
                <input type="text" name="estado" id="estado" class="validate" value="@Model.estado" />
            </div>

            <div class="input-field col s12 m4 l5">
                <button type="submit" class="btn light-blue">Guardar</button>
            </div>
        }

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/js/materialscript.js")
}