@model List<InmobiliariaViewModels.Clientes.ClienteInsertViewModels>
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col s12 m12 l12">
        <h4 id="tables" class="text-center blue-text text-darken-1">Tabla Clientes</h4>
        
        <table class="striped responsive-table">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Dpi</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Direccion</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td scope="col">@item.nombre @item.apellido</td>
                        <td scope="col">@item.dpi </td>
                        <td scope="col">@item.telefono </td>
                        <td scope="col">@item.direccion </td>
                        @if (item.estado == 1)
                        {
                            <td scope="col">Activo</td>
                        }
                        else
                        {
                            <td scope="col">Inactivo</td>
                        }
                        <td scope="col">
                            <a href="@Url.Action("GetForId", "Cliente")/@item.id" class="btn-small green"><i class="fas fa-eye"></i> Ver</a>
                            <a href="@Url.Action("IdCliente", "Venta")/@item.id" class="btn-small black"><i class="fas fa-eye"></i> Asignar Venta</a>
                            <a href="@Url.Action("VentaCliente", "Pagos")/@item.id" class="btn-small black"><i class="fas fa-eye"></i> Pagar Cuota</a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
