@model InmobiliariaViewModels.Venta.VentaViewModels

<h5>@Model.Cliente.nombre @Model.Cliente.apellido</h5>
<h5>@Model.Cliente.direccion</h5>
<hr />

<h5>@Model.Empleado.nombre_e @Model.Empleado.apellido_e</h5>
<hr />

<h5>@Model.Lote.numero @Model.Lote.largo @Model.Lote.ancho @Model.Lote.mts_cuadrados @Model.Lote.precio_lote</h5>
<hr />

<div class="row">
    <div class="col s12 m5 l4">

        @using (Html.BeginForm("CalcularVenta", "Venta", FormMethod.Post))
        {
            <div class="row">
                <div class="input-field col s12">
                    <input disabled type="text" name="Cuota.cantidad" class="validate" id="Cuota.cantidad" value="@Model.Lote.precio_lote">
                    <label for="Cuota.cantidad">Cantidad</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" name="Cuota.descuento" class="validate" id="Cuota.descuento">
                    <label for="Cuota.descuento">Descuento</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" name="Cuota.enganche" class="validate" id="Cuota.enganche">
                    <label for="Cuota.enganche">Enganche</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <select name="Cuota.tiempo" id="Cuota.tiempo">
                        <option value="" disabled selected>Elige tu opcion</option>
                        <option value="12">1 Años/12 Meses</option>
                        <option value="24">2 Años/24 Meses</option>
                        <option value="36">3 Años/36 Meses</option>
                        <option value="48">4 Años/48 Meses</option>
                        <option value="60">5 Años/60 Meses</option>
                        <option value="72">6 Años/72 Meses</option>
                        <option value="84">7 Años/84 Meses</option>
                        <option value="96">8 Años/96 Meses</option>
                        <option value="108">9 Años/108 Meses</option>
                        <option value="120">10 Años/120 Meses</option>
                    </select>
                    <label for="Cuota.tiempo">Tiempo</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <button type="submit" class="btn light-blue accent-3">Calcular</button>
                </div>
            </div>
        }
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/js/materialscript.js")
}
