<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Inmobiliaria</title>
    <link rel="stylesheet" href="~/Content/materialize/css/materialize.min.css" />
    @*<script src="~/Scripts/modernizr-2.6.2.js"></script>*@
    <link rel="stylesheet" href="~/Content/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css"/>
    <link rel="stylesheet" href="~/Content/Style.css" />
</head>
<body>
    <div class="navbar-fixed">
        <div class="nav-wrapper">
            <nav class="light-blue accent-3">
                <div class="nav-wrapper">
                    @Html.ActionLink("Inmobiliaria", "Index", "Home", new { area = "" }, new { @class = "brand-logo" })
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
                    <ul class="right hide-on-med-and-down">
                        <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                        <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                        <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                        @Html.Partial("_LoginPartial")
                        <li>
                            <a class="dropdown-trigger" href="#!" data-target="dropdown1">
                                Empleados
                                <i class="fas fa-caret-down"></i>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-trigger" href="#!" data-target="dropdown2">
                                Clientes
                                <i class="fas fa-caret-down"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <!--Desplegable Empleados-->
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="@Url.Action("Index","Empleado")">Empleados</a></li>
        <li><a href="@Url.Action("Create","Empleado")">Agregar Empleado</a></li>
        <li class="divider"></li>
        <li><a href="@Url.Action("Index","CargoEmp")">Cargos</a></li>
        <li><a href="@Url.Action("Create","CargoEmp")">Agregar Cargo</a></li>
        <li class="divider"></li>
        <li><a href="@Url.Action("Index","EstadoEmp")">Estados</a></li>
        <li><a href="@Url.Action("Create","EstadoEmp")">Agregar Estado</a></li>
    </ul>

    <!--Desplegable Clientes-->
    <ul id="dropdown2" class="dropdown-content">
        <li><a href="#!">Clientes</a></li>
        <li><a href="#!">Agregar</a></li>
    </ul>
     
    <ul class="sidenav" id="mobile-demo">
        <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
        <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
        <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
        @Html.Partial("_LoginPartial")
    </ul>

        <div class="container">
            @RenderBody()
        </div>

    <!-- Inicio del Modal Para Cierre de Sesion -->
    <div id="modalLogout" class="modal">
        @using Microsoft.AspNet.Identity
        <div class="modal-content">
            <h4>Sesion</h4>
            <p>@Html.ActionLink("Hola " + User.Identity.GetUserName() + "!", "Index", "Manage") Deseas salir de la aplicacion</p>
        </div>
        <div class="modal-footer">
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <a href="#!" class="modal-action modal-close waves-effect btn light-blue accent-3">Cancelar</a>
                <button type="submit" class="waves-effect btn red accent-4">Cerrar Sesion</button>
            }
        </div>
    </div>
    <!--Fin del Modal para cierre de sesion-->

    <script src="~/Scripts/js/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/respond.js"></script>
    <script src="~/Content/materialize/js/materialize.min.js"></script>
    <script src="~/Scripts/js/myscript.js"></script>
    <script>
        $(document).ready(function () {
            $('.modal').modal();
            $('.dropdown-trigger').dropdown();
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
