@model List<InmobiliariaViewModels.Pagos.EstadoPagosViewModels>
@{
    ViewBag.Title = "Estado de Cuenta";
}

<div class="row">
    <div class="col-lg-12">

        <div class="page-header">
            <h4 id="tables" class="text-center">Estado de Pagos</h4>
        </div>

        <div class="bs-component">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Saldo Anterior</th>
                            <th scope="col">Saldo Actual</th>
                            <th scope="col">Monto Cancelado</th>
                            <th scope="col">Fecha Pago</th>
                            <th scope="col">Fecha Cancelada</th>
                            <th scope="col">Monto Mora</th>
                            <th scope="col">Estado Mora</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td scope="col">@item.saldo_anterior</td>
                                <td scope="col">@item.saldo_actual</td>
                                <td scope="col">@item.monto_pago</td>
                                <td scope="col">@item.fecha_pagar.ToString("yyyy-MM-dd")</td>
                                @if (@item.fecha_cancelada.ToString("yyyy-MM-dd") == "0001-01-01")
                                {
                                    <td scope="col">-------------</td>
                                }
                                else
                                { 
                                    <td scope="col">@item.fecha_cancelada.ToString("yyyy-MM-dd")</td>
                                }
                                <td scope="col">@item.monto_mora</td>
                                @if (@item.estado == 1 || @item.monto_mora == 0)
                                {
                                    <td scope="col">Cancelada</td>
                                }
                                else
                                {
                                    <td scope="col">Sin Pagar</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

